<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="shortcut icon" href="../../images/logo_tituloPagina.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <title>Page not found</title>
  </head>
  <body>
    <section class="page-not-found">
      <img id="img-404" src="/images/GymCenter404.png" alt="404 not found" />
      <div class="info-404">
        <p>No se ha encontrado la página que buscas...</p>
        <button onclick="volverPaginaAnterior()" class="boton-volver">
          Volver
        </button>
      </div>
    </section>
    <script src="/clients/funciones.js"></script>
  </body>
</html>
